nav{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:#020202;
    color: #fff;
}
.left {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    gap: 20px;
}
.hamburger {
    /* display: none; */
    /* flex-direction: column;
    cursor: pointer; */
    font-size: 20px; 
    color: #fff;
    background: #020202; 
    border: none; 
    cursor: pointer
}
.logo {
    font-size: 24px;
    font-weight: bold;
}
.right {
    display: flex;
    gap: 20px;
}